.ce_settings_mason .element_bottom {
    border-bottom: 1px dashed #AAA;
    margin-left: -8px;
    margin-right: -14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ce_settings_mason tr {

}

.ce_settings_mason .mason_block_handle {
	display: block;
	background: none;
	width: 9px;
	height: 13px;
    float: left;
}

.ce_settings_mason .mason_block_element > td {
    width: 10% !important;
    border: 1px solid red !important;
    background: #ebf0f2 !important;
}

table.mainTable td .ce_settings_table tr.mason_block_element td {
    background: #f7f8fa !important;
}

.ce_settings_mason .mason_block_element table {
    width: 90%;
    position: relative;
    left: 10px;
    top: -8px;
}

.ce_settings_mason .mason_block_element:hover table {

}
.ce_settings_mason .mason_block_element:hover .mason_block_handle {
	display: block;
	background: url(images/draggable.gif);	
	height: 13px;
	width: 9px;	
	cursor: pointer;
}
.ce_settings_mason .mason_add_subelement {
    color: #4A575F;
    text-decoration: none !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 6px 10px 6px 10px;
    margin-right: 10px;
    font-size: 11px;
    background: #D2DBE3 url(../images/btn_default.jpg);
    box-shadow: 0px 0px 2px #D2DBE3;
    height: 28px;
}
.ce_settings_mason h4 {
    margin-bottom: 10px;
}

.ce_settings_mason .mason_block_element:hover .mason_button_remove {
    display: block;
    float: right;
    color: red;
    height: 7px;
    width: 7px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 10px;
    cursor: pointer;
    background: url(images/btn_delete.png);
    position: relative;
    right: -4px;
    top: -5px;
}

.ce_settings_mason .last .mason_block_handle,
.ce_settings_mason .last .mason_button_remove,
.ce_settings_mason .last:hover .mason_block_handle,
.ce_settings_mason .last:hover .mason_button_remove {
    display: none;
}

.ce_settings_mason .last table {
    left: 19px;
}

.warning {
    background: #FFF3D1;
    border: 1px solid #FFE59C;
    border-radius: 5px 5px 5px 5px;
    color: #715300;
    margin-bottom: 20px;
    padding: 10px;
}
.publish_field .content_elements_tile_header label {
    font-weight: bold;
    font-size: 14px;
}
.mason_container .content_elements_tile_body {
    padding: 10px 0 10px 0;
    margin: 0;
}
.mason_field {
    margin-top: 10px;
    margin-right: 10px;
}
.mason_field > b {
    display: block;
}
.mason_field_title {
    margin-bottom: 2px;
}
.mason_hint {
    padding: 2px;
    margin-top: 2px;
    background: #E0F2F7;
    border: 1px solid #81BEF7;
    border-radius: 2px;
}
